.appHeader {
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--header-font);
  margin-left: 40px;
}
.mainLogo {
  font-size: 20px;
  position: relative;
}

svg text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: var(--color-black);
  font-size: 50px;
  font-weight: 700;
  stroke-width: 3;
 
  animation: textAnimate 5s infinite alternate;
  
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill: var(--color-black);
    stroke: var(--color-white);
  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: var(--color-white);
  }
  
}

@media screen and (max-width: 700px) {
  svg text {
    font-size: 40px;
  }
}