.appHeader {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--header-font);
}
.mainLogo {
  font-size: 20px;
}